{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1 class="page-header">Elements</h1>
  <p>
    <button type="button" 
            class="btn btn-primary js-create-dictionary"
            
      <span class="fa fa-plus" aria-hidden="true"></span>
      New element
    </button>
    
  </p>
  <table class="table" id="dictionary-table">
    <thead>
      <tr>
        {% for key, value in element_fields.items %}
            <th>{{ value }}</th>
        {% empty %}
          <td colspan="7" class="text-center bg-warning">No elements</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% include 'partial_dictionary_list.html' %}
    </tbody>
  </table>
  <div id="dic_pagination">
    {% include 'includes/dictionary_pagination.html' %}
  </div>
  <div class="modal fade" id="modal-dictionary">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'js/documents.js' %}"></script>
{% endblock %}