{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Documents</li>
{% endblock %}

{% block content %}
  <!--<table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Document</th>
        <th>Number</th>
        <th>Date</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for document in all_documents %}
        <tr>
          <td>
            <a href="{% url 'document' document.pk %}">{{ document }}</a>
          </td>
          <td class="align-middle">0</td>
          <td class="align-middle">0</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'includes/pagination.html' %}-->

  {% render_table all_documents %}

{% endblock %}