{% extends 'base.html' %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Documents</li>
{% endblock %}
{% load static %}

{% block content %}
<table class="table" id="documents-table" hidden = "true">
    <thead>
      <tr>
        <th>#</th>
        <th>Document type</th>
        <th>Active</th>
        <th>Counterparty</th>
        <th>Wallet</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>User</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div id="doc_pagination">
  </div>
 
{% endblock %}

{% block script %}
<script src="{% static 'js/documents.js' %}"></script>
{% endblock %}
